# Plik: .streamlit/secrets.toml
# NIGDY nie commituj tego pliku do GitHub!
# Na Streamlit Cloud wpisz te wartości w Settings → Secrets

APP_PASSWORD = "twoje_haslo_dostępu"
API_URL = "https://twoja-nazwa.onrender.com"
API_TOKEN = "zmien_na_bezpieczny_token_2024"
